## MySQL Initial
This notebook is for initial MySQL Database / MariaDB Database Connection like Connection Checking, Table Creating

In [7]:
import mysql.connector
import os

Get Environment Variable

In [8]:
HOST_URL = os.getenv('MYSQL_HOST')
MYSQL_PASSWORD = os.getenv('MYSQL_PASSWORD')
MYSQL_USER = os.getenv('MYSQL_USER')
MYSQL_DATABASE = os.getenv('MYSQL_DATABASE')
MYSQL_TABLE_NAME = os.getenv('MYSQL_TABLE_NAME')

print('MySQL Host',HOST_URL)

MySQL Host localhost

Connect and Test Connection

In [9]:
db = mysql.connector.connect(
    host=HOST_URL, user=MYSQL_USER, password=MYSQL_PASSWORD, database=MYSQL_DATABASE
)

if not(db.is_connected):
    print('Fail to Connect')
else:
    print('Connect Successfully')

Connect Successfully

Create Data Table

In [14]:
create_table_script = f"""
    CREATE TABLE IF NOT EXISTS {MYSQL_TABLE_NAME} (
        id INT(8) NOT NULL PRIMARY KEY AUTO_INCREMENT,
        running_number VARCHAR(128),
        transaction_ref_id VARCHAR(256),
        transaction_type VARCHAR(36),
        transaction_dir TINYINT(1),
        employee_id VARCHAR(256),
        employee_firstname VARCHAR(128),
        employee_lastname VARCHAR(128),
        process_id VARCHAR(256),
        step_id VARCHAR(256),
        step_name VARCHAR(128),
        step_index INT(8),
        material_id VARCHAR(256),
        material_type_code VARCHAR(256),
        material_name VARCHAR(256),
        manufacturing_order_id VARCHAR(256),
        begin FLOAT(16),
        quantity FLOAT(16),
        amount FLOAT(16),
        updated_at TIMESTAMP
    )
"""

In [15]:
cursor = db.cursor()
cursor.execute(create_table_script)
print('Create Table Success')

Create Table Success